<!-- start counter -->
<section class="py-5 position-relative bg-light">
    <div class="container">
        <div class="row text-center gy-4">
            <div class="col-lg-3 col-6">
                <div>
                    <h2 class="mb-2"><span [countUp]="5" class="counter-value" [options]="option"></span>M+</h2>
                    <div class="text-muted">Calls Analyzed</div>
                </div>
            </div>
            <!-- end col -->

            <div class="col-lg-3 col-6">
                <div>
                    <h2 class="mb-2"><span [countUp]="150" class="counter-value" [options]="option"></span>+</h2>
                    <div class="text-muted">Teams Empowered</div>
                </div>
            </div>
            <!-- end col -->

            <div class="col-lg-3 col-6">
                <div>
                    <h2 class="mb-2"><span [countUp]="10" class="counter-value" [options]="option"></span>k+</h2>
                    <div class="text-muted">Hours Saved per Month</div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-3 col-6">
                <div>
                    <h2 class="mb-2"><span [countUp]="95" class="counter-value" [options]="option"></span>%</h2>
                    <div class="text-muted">Employees</div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end counter -->